@{
    ViewData["Title"] = "Home";
    ViewData["MainTitle"] = "The Joel Hilton Film Collection";
    ViewData["MainSubtitle"] = "Quality Movies for Quality People";
}

<div class="row">
    <div class="col-sm-6 intro">
        <div class="px-5">
            <h5>Joel - The Legend Himself</h5>
            <p>A film enthusiast, Joel has been watching and collecting movies for a very, very, very long time. Welcome to his collection.</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="px-5"><img class="img-fluid rounded-circle" src="~/img/JoelHilton.jpg" /></div>
    </div>
</div>