@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Podcast";
    ViewData["MainTitle"] = "The Joel Hilton Film Collection";
    ViewData["MainSubtitle"] = "Podcast Details: BaconSale";
}

<div class="container">
    <h4>Joel's "BaconSale" Podcast</h4>
    <h5>A Podcast for movie junkies such as myself.</h5>
    <p>To share my extensive, thorough knowledge of the many, many movies out there, and to immensely benefit your life, I have created
    this ultra-premium podcast. Feel free to listen and share...in fact you must!</p>
    <a class="btn btn-primary" href="https://baconsale.com/">Visit the BaconSale Site</a>
</div>