@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Thank You";
    ViewData["MainTitle"] = "The Joel Hilton Film Collection";
    ViewData["MainSubtitle"] = "Thank You for Your Contribution";
}
@model HiltonMovies.Models.Movie
<div>
    <div class="container">
        <h3>Thank you for adding @Model.Title! </h3>
    </div>
</div>